#!/bin/sh -eux

# Master CI build script

REPO="${ECOLOGY_DOCKER_REPO}"
BASE_TAG="sha"

apt-get update -y && apt-get install -y git make

bin/ci.branches

docker login -u ${DOCKER_USER} -p ${DOCKER_PASS}

for tag in "${BASE_TAG}" "${BASE_TAG}-$(cat data/version)"; do
  docker push "${REPO}:${tag}"
done
